:root {
    --body-bg: rgb(30, 29, 25);

    --tiles-bg: rgb(28, 25, 19);
    --tiles-border: rgb(21, 18, 14);

    --button-bg: rgb(42, 37, 28);
    --button-border: rgb(22, 20, 15);
    --button-shadow: rgb(50, 44, 34);
    --button-top-bg: rgb(56, 49, 35);

    --progressbar-bg: #232120;
    --progressbar-border-shadow: rgb(60, 53, 41);
    --progressbar-color: limegreen;

    --inv-card-bg: rgb(44, 39, 30);
    --inv-card-border: rgb(16, 14, 11);

    --inv-btn-bg: rgb(32, 28, 22);
    --inv-btn-border: rgb(11, 10, 7);
    --inv-btn-shadow: rgb(43, 38, 30);

    --inv-btn-hover-bg: rgb(36, 31, 25);
    --inv-btn-hover-border: rgb(21, 19, 13);

    --currencies-display-bg: rgb(26, 23, 18);
    --currencies-display-border: rgb(16, 14, 11);
}

body {
    margin: 0;
    background: var(--body-bg);
    height: 100vh;
    box-sizing: border-box;
    display: flex;
    gap: 1vh;
    padding: 1vh;

    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.left-bar {
    width: 15vw;
    display: flex;
    flex-direction: column;
    gap: 0.7vw;
    transition: flex 0.25s ease, width 0.25s ease, height 0.25s ease;
    padding: 0.5vw;
    background: var(--tiles-bg);
    border: 4px solid var(--tiles-border);
    border-radius: 20px 20px 0 20px;
    overflow-y: hidden;
    z-index: 10;
}

.l-bar-button {
    gap: 3%;
    position: relative;
    width: 100%;
    min-height: 10%;
    max-height: 12%;
    background: var(--button-bg);
    border: 4px solid var(--button-border);
    border-radius: 15px;

    transition: transform 0.15s ease, background 0.25s ease, border 0.25s ease;
    cursor: pointer;
    margin: 0;
    padding: 0;
}

.l-bar-scroll {
    overflow-y: scroll;
    gap: 0.7vw;
    display: flex;
    flex-direction: column;
}

.l-bar-button.settings-button {
    margin-top: auto;
}

.l-bar-button img,
.button-top-layer img {
    height: 50%;
    aspect-ratio: 1/1;
}

.l-bar-button h4,
.button-top-layer h4 {
    font-size: 1.2em;
    margin: 0;
}

.l-bar-button:active .button-top-layer,
.l-bar-button.selected .button-top-layer {
    transform: translateY(0);
    box-shadow: inset 0 8px 0px -2px var(--button-shadow);
}

.button-top-layer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;

    width: 100%;
    height: 100%;

    background: var(--button-top-bg);
    border-radius: 10px;

    transform: translateY(-6px);
    transition: transform 0.1s ease, box-shadow 0.1s ease;
}

.progress-bar {
    height: 5vh;
    aspect-ratio: 10/1;
    background: var(--progressbar-bg);
    border-radius: 12px;
    overflow: hidden;
    border: 3px var(--progressbar-border-shadow) solid;
    box-shadow: 0 0 5px 1px var(--progressbar-border-shadow);
}

.progress-fill {
    height: 100%;
    background: var(--progressbar-color);
    border-radius: 8px;
    width: 0;
    /* a bit more to not feel laggy */
    transition: width 0.12s linear;
    box-shadow: 0 0 100px 2px var(--progressbar-color);
}

.zone {
    display: none;
    color: white;
    width: 100%;
    height: 100%;
}

.zones {
    width: 100%;
    height: 100%;
    overflow: scroll;
}

.inventory-zone {
    overflow: scroll;
    overflow-anchor: none;
}

.shop-zone.shown,
.money-upgrade-tree-zone.shown {
    display: block;
    touch-action: none;
}


.inventory-zone.shown {
    display: grid;
}

.furnace-zone.shown,
.drills-zone.shown,
.settings-zone.shown {
    display: flex;
}

.drills-zone {
    display: none;

    justify-content: center;
    align-items: center;
}

.inventory-zone {
    display: none;

    grid-template-columns: repeat(3, minmax(100px, 1fr));
    gap: 0.75rem;
    width: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    height: 100%;
}

.inventory-card {
    background: var(--inv-card-bg);
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    gap: 0.4rem;
    border-radius: 12px;

    border: var(--inv-card-border) 2px solid;
    aspect-ratio: 1 / 1.25;
    width: 100%;
    box-sizing: border-box;
}

.inventory-card img {
    width: 100%;
    height: 60%;
    object-fit: contain;
    border-radius: 12px;
}

.inventory-card p {
    font-size: 1rem;
    text-align: center;
    font-weight: bold;
    color: #ddd;
    white-space: nowrap;
    text-overflow: ellipsis;
    cursor: default;
    font-family: "SN Pro";
    margin: 0;
}

.inv-actions {
    display: flex;
    flex-direction: column;
    gap: 2%;
    margin-top: auto;
}

.inv-actions {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4px;
}

.inv-sellall-button {
    grid-column: span 2;
}

.inv-btn {
    font-size: 0.55rem;
    height: 2rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;

    background: var(--inv-btn-bg);
    color: white;
    border: var(--inv-btn-border) 2px solid;
    border-radius: 4px;
    font-size: medium;
    cursor: pointer;
    font-family: "SN Pro";
    transition: background 0.2s ease, border 0.2s ease;
    box-shadow: 0 0 10px 3px var(--inv-btn-shadow);
}

.inv-btn:hover {
    background: var(--inv-btn-hover-bg);
    border: var(--inv-btn-hover-border) 2px solid;
}

::-webkit-scrollbar {
    display: none;
}

.currencies-display {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--currencies-display-bg);
    border: var(--currencies-display-border) 4px solid;
    border-radius: 15px;

    min-height: 10%;
    max-height: 12%;
    gap: 15px;
    z-index: 12;
}

p,
h3,
h2,
h1,
h4,
h5 {
    color: white;
    font-family: "SN Pro";
    vertical-align: middle;
    margin: 0;
}



.money-display {
    display: flex;
    align-items: center;
    gap: 1%;
}

.money-icon {
    height: 1.5em;
    width: auto;
    display: block;
}

.money-display p {
    font-size: 1.2em;
}

.shop-upgrade {
    display: flex;
    align-items: center;
    background: rgb(21, 19, 14);
    border: rgb(15, 14, 10) 4px solid;
    border-radius: 15px;
    margin: 10px auto;
    width: calc(100% - 30px);
    height: 10vh;
    padding: 0 10px;
    gap: clamp(1cqh, 1cqw, 1cqw);
    overflow: hidden;
    cursor: pointer;
}


.shop-zone {
    height: 100%;
    overflow: scroll;
}

.upgrade-icon {
    height: 70%;
    aspect-ratio: 1/1;
    object-fit: contain;
}

.upgrade-info-wrapper {
    display: grid;
    flex-grow: 1;
    grid-template-columns: 1fr auto;
    grid-template-rows: 1fr 1fr;
    height: 100%;
}

.upgrade-header-text {
    grid-column: 1;
    grid-row: 1;
    align-self: end;
    margin: 0;
}

.upgrade-bottom-text {
    grid-column: 1;
    grid-row: 2;
    align-self: start;
    color: silver;
    font-size: clamp(1.5cqh, 1.5cqw, 1.5cqw) !important;
    margin: 0;
}

.upgrade-amount-text {
    grid-column: 2;
    grid-row: 1;
    justify-self: end;
    align-self: end;
    color: gold;
    margin: 0;
}

.upgrade-price {
    grid-column: 2;
    grid-row: 2;
    justify-self: end;
    align-self: start;
    color: limegreen;
    margin: 0;
}

.shop-upgrade p {
    margin: 0;
    font-size: clamp(2cqh, 2cqw, 2cqw);
}

.node {
    position: absolute;
    text-align: center;
    background: #333;
    color: #333;
    border: 3px solid #212121;
    border-radius: 100000px;
    font-family: sans-serif;
    box-shadow: 0 0 5px 1px #212121;
    z-index: 2;
    width: 70px;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background 0.25s ease, border 0.25s ease, box-shadow 0.25s ease;
}

.node:hover {
    box-shadow: 0 0 5px 3px #212121;
    background: #393939;
}

.node.purchased {
    background: #222;
    border: 3px solid #111;
    box-shadow: 0 0 5px 3px #212121;
}

.node.purchased:hover {
    box-shadow: 0 0 5px 3px #212121;
    background: #222;
}

.money-upgrade-tree-zone {
    padding: 0;
    margin: 0;
    position: relative;
    width: 5000px;
    height: 5000px;
    overflow: hidden;
}

#origin {
    position: absolute;
    left: 0;
    top: 0%;
}

.tooltip {
    background: rgb(20, 20, 20);
    width: fit-content;
    height: fit-content;
    padding: 1vw 2vw;
    border: #000 solid 4px;
    border-radius: 20px;
    position: fixed;
    z-index: 9;
    display: none;
    scale: 0;
    opacity: 0;
    transition: scale 0.2s ease, opacity 0.2s ease;
    transform-origin: top left;
}

.tooltip.shown {
    scale: 1;
    opacity: 1;
}

.tooltip h2,
.tooltip h3,
.tooltip h4 {
    margin: 0;
}

.tooltip h4 {
    color: limegreen;
}

.tooltip h3 {
    color: silver;
}

.furnace-zone {
    display: none;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    position: relative;
}

.furnace-zone img {
    height: 70%;
}


.furnace-zone div {
    width: 5%;
    aspect-ratio: 1/1;
    border: 2px solid rgb(15, 14, 10);
    box-shadow: 0 0 3px 1px rgb(50, 50, 50);
    background-color: rgb(46, 41, 32);
    aspect-ratio: 1/1;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}


.furnace-zone div img {
    opacity: 0.5;
}

.fuel-input {
    position: absolute;
    left: 30%;
    top: 50%;
    transform: translateY(-50%);
}

.raw-input {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
}

.output {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
}

.hover-info {
    background-color: rgb(17, 15, 12);
    padding: 10px;
    border-radius: 5px;
    opacity: 0;
    transition: opacity 0.25s ease, transform 0.25s ease;
    position: fixed;
    transform: scaleX(0);
    transform-origin: left;
    left: 120%;
    pointer-events: none;
    white-space: nowrap;
}

.raw-input:hover .hover-info,
.fuel-input:hover .hover-info,
.output:hover .hover-info {
    opacity: 1;
    transform: scaleX(1);
}

.game {
    flex: 1;
    overflow: scroll;
    padding: 1vh 1vw;
    background: var(--tiles-bg);
    border: 4px solid var(--tiles-border);
    border-radius: 20px 20px 20px 0;
    transition: flex 0.25s ease;
}

.inventory-overlay {
    position: fixed;
    width: 75%;
    height: 75%;
    z-index: 15;
    /* gorey */
    background-color: rgb(69, 58, 44);
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    top: 50%;
    overflow-y: scroll;
    border-radius: 15px;
    border: 4px solid rgb(55, 46, 35);
    box-shadow: 0 2px 5px 4px rgb(32, 27, 20);
    padding: 0.4rem;

    transition: transform 0.25s ease;
}

.overlay-cards {
    overflow-y: scroll;
    display: grid;
    grid-template-columns: repeat(2, minmax(100px, 1fr));
    gap: 0.75rem;
    height: 100%;
    width: 100%;
}

.inventory-overlay h3 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    padding: 1%;
    background-color: rgb(55, 46, 35);
    border-radius: 8px;
    box-shadow: 0 0 5px 1px rgb(39, 33, 25);
}

.inventory-overlay-close {
    position: absolute;
    right: 2%;
    top: 2%;
    width: 5%;
    aspect-ratio: 1/1;
    background-color: rgb(55, 46, 35);
    border: 3px solid rgb(36, 31, 23);
    border-radius: 10px;
    color: white;
    cursor: pointer;
    font-family: "SN Pro";
    font-size: 100%;
    transition: background-color 0.25s ease, border 0.25s ease;
}

.inventory-overlay-close:hover {
    background-color: rgb(66, 56, 43);
    border: 3px solid rgb(47, 41, 30);
}

.console {
    width: 75vw;
    height: 75vh;
    position: fixed;
    z-index: 16;
    background-color: black;

    user-select: text;
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    border-radius: 20px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 1%;
    display: none;
    overflow-y: scroll;
}

.notification {
    position: relative;
    transform: translateX(calc(100% + 2vh + 6px));
    right: 0;
    width: 20vw;
    height: calc(10vh - 20px);
    background-color: rgb(20, 18, 13);
    border: rgb(43, 38, 30) 3px solid;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    transition: cubic-bezier(0.25, 0.10, 0.00, 1.03) 0.5s transform;
}

.notification.notified {
    transform: translateX(0%);
}

.notification div {
    display: flex;
    flex-direction: column;
}

.notification div h4,
.notification div h2 {
    padding: 0;
    margin: 0;
    font-size: 100%;
}

.notification img {
    height: 100%;
}

.notification-stack {
    position: fixed;
    right: calc(8vh + 2px);
    bottom: 2vh;
    width: 20vw;
    display: flex;
    flex-direction: column-reverse;
    grid-template-rows: 0fr;
    gap: 1vh;
}

.notification.removing {
    max-height: 0;
    padding: 0;
    margin: 0;
    opacity: 0;
    transition: max-height 0.3s ease, padding 0.3s ease, opacity 0.2s ease;
}

.settings-zone, .settings {
    flex-direction: column;
    align-items: center;

    height: calc(100% - 10px);
    width: calc(100% - 10px);

    gap: 1vw;
    display: none;
    padding: 5px;
}

.settings{
    display: flex;
}

.settings-section {
    flex-direction: column;
    align-items: center;
    display: flex;


    background-color: var(--button-bg);
    padding: 5px;

    gap: 0.5vw;
    width: 100%;
    border-radius: 12px;
}

.settings-section>p {
    text-align: center;
    width: 100%;
    font-size: 150%;
}

.setting-wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: var(--button-top-bg);
    padding: 5px;
    height: calc(100% - 20px);
    width: calc(100% - 10px);
    border-radius: 8px;
}

.checkmark {
    height: 100%;
    aspect-ratio: 1/1;
    background-color: var(--button-top-bg);
    border: var(--button-border) 2px solid;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.checkmark::after{
    content: "";
    height: 50%;
    aspect-ratio: 1/1;
    background-color: rgb(102, 92, 72);
    border-radius: 2px;
    opacity: 0;
    transition: opacity 0.2s ease;
}

.checkmark.enabled::after {
    opacity: 1;
}

.credits {
    margin-top: auto;
    background-color: var(--button-bg);
    border: var(--button-border) 3px solid;
    border-radius: 15px;
    width: 100%;
    color: white;
    font-family: "SN Pro";
    font-size: 200%;
    cursor: pointer;
}

.credits-popup {
    position: fixed;
    width: 90%;
    max-width: 400px;
    min-height: auto;
    align-items: center;
    gap: 0.5vw;
    max-height: 80vh;
    z-index: 16;
    background-color: rgb(69, 58, 44);
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    top: 50%;
    overflow-y: scroll;
    border-radius: 15px;
    border: 4px solid rgb(55, 46, 35);
    box-shadow: 0 2px 5px 4px rgb(32, 27, 20);
    padding: 1.4rem;

    transition: transform 0.25s ease;
}

.credits-popup h3 {
    text-align: center;
    width: fit-content;
    padding: 1%;
    background-color: rgb(55, 46, 35);
    border-radius: 8px;
    box-shadow: 0 0 5px 1px rgb(39, 33, 25);
}

.credits-popup h4 {
    text-align: center;
    overflow-wrap: break-word;
    width: 100%;
    margin: 0;
}

.credits-close {
    position: absolute;
    right: 2%;
    top: 2%;
    height: 5%;
    aspect-ratio: 1/1;
    background-color: rgb(55, 46, 35);
    border: 3px solid rgb(36, 31, 23);
    border-radius: 10px;
    color: white;
    cursor: pointer;
    font-family: "SN Pro";
    font-size: 100%;
    transition: background-color 0.25s ease, border 0.25s ease;
}

.credits-close:hover {
    background-color: rgb(66, 56, 43);
    border: 3px solid rgb(47, 41, 30);
}